####################################################
# SENSORS - COLLECTS                               #
####################################################

  #Trash collect day
  - platform: template
    sensors:
      collect_trash_week:
        entity_id:
          - sensor.refresh_1m
          - sensor.collect_trash_week
          - input_select.collect_trash
          - input_datetime.collect_trash_start
          - input_datetime.collect_trash_end
        friendly_name: Trash Collect
        value_template: >
          {% set collectday = state_attr('input_select.collect_trash','options').index(states('input_select.collect_trash'))|int % 5 +1%}
          {% set today = state_attr('sensor.dates', 'weekdaynumber')|int +1 %}
          {% set collectweek = state_attr('input_select.collect_trash','options').index(states('input_select.collect_trash'))|int %}
          {% set week = state_attr('sensor.dates', 'weekofyear')|int %2 %}
          {% set time = '14:00' %}
          {% set allweeks = state_attr('sensor.collect_trash_week','summer') == 'on' %}
          {% set selected = states('input_select.collect_trash')|replace('Odd/','')|replace('Even/','')|replace('All/','') %}
          {% set now = state_attr('sensor.times', 'short') %}
          
          {% if today >= 7 %}
            {% set today = 0 %}
            {% set week = (week+1)%2 %}
          {% endif %}
          
          {% if collectweek >= 10 %}{% set collectweek = 2 %}{% set allweeks = true %}
          {% elif collectweek >= 5 %}{% set collectweek = 0 %}
          {% else %}{% set collectweek = 1 %}
          {% endif %}
          
          {% if ((today > collectday) or ((today == collectday) and (now >= time))) %}{% set passed = true %}
          {% elif ((today < collectday) or ((today == collectday) and (now < time))) %}{% set passed = false %}
          {% endif %}
          
          {% if collectweek == week or allweeks %}{% set thisweek = true %}
          {% else %}{% set thisweek = false %}
          {% endif %}
          
          {% if thisweek and not passed %}
            {% if today+1 == collectday %}
              Tomorrow
            {% elif today == collectday %}
              Today
            {% elif today < collectday %}
              Next {{ selected }}
            {% endif %}
          {% elif (thisweek and passed and allweeks) or (not thisweek and passed) %}
            Next {{ selected }}
          {% elif thisweek and passed and not allweeks %}
            In 2 {{ selected }}s
          {% elif not thisweek and not passed %}
            {{ selected }} Next Week
          {% else %}
            Error
          {% endif %}
        icon_template: >
          mdi:trash-can
        attribute_templates:
          summer: >
            {% set year_start = state_attr('input_datetime.collect_trash_start', 'year')|int %}
            {% set month_start = state_attr('input_datetime.collect_trash_start', 'month')|int %}
            {% set day_start = state_attr('input_datetime.collect_trash_start', 'day')|int %}
            {% set year_end = state_attr('input_datetime.collect_trash_end', 'year')|int %}
            {% set month_end = state_attr('input_datetime.collect_trash_end', 'month')|int %}
            {% set day_end = state_attr('input_datetime.collect_trash_end', 'day')|int %}
            {% set year = state_attr('sensor.dates', 'year')|int %}
            {% set month = state_attr('sensor.dates', 'month')|int %}
            {% set day = state_attr('sensor.dates', 'day')|int %}
            {% set enable = year_start >= year and year_end >= year %}
            
            {% set start = month > month_start or (month == month_start and day >= day_start) %}
            {% set end = month < month_end or (month == month_end and day <= day_end) %}
            
            {% if not enable %}
              disabled
            {% elif start and end %}
              on
            {% else %}
              off
            {% endif %}
          tomorrow: >
            {% set time = '14:00' %}
            {% set now = state_attr('sensor.times', 'short') %}
            
            {% set tomorrow = is_state('sensor.collect_trash_week', 'Tomorrow') and now> time %}
            {% set today = is_state('sensor.collect_trash_week', 'Today') and now < time %}

            {% if tomorrow or today %}
              on
            {% else %}
              off
            {% endif %}
          thisweek: >
            {% if ' Next ' in states('sensor.collect_trash_week') %}
              off
            {% elif 'Next ' in states('sensor.collect_trash_week') or is_state('sensor.collect_trash_week', 'Today') or is_state('sensor.collect_trash_week', 'Tomorrow') %}
              on
            {% else %}
              off
            {% endif %}

      collect_trash_summer_mode:
        friendly_name: Trash Summer Mode
        entity_id: 
          - input_select.collect_trash
          - sensor.collect_trash_week
        value_template: >
          {% if state_attr('sensor.collect_trash_week', 'summer') == 'on' %}
            Weekly
          {% elif state_attr('sensor.collect_trash_week', 'summer') == 'off' %}
            Fortnightly
          {% else %}
            Disabled
          {% endif %}
        icon_template: >
          {% if state_attr('sensor.collect_trash_week', 'summer') == 'on'  %}
            mdi:tree
          {% elif state_attr('sensor.collect_trash_week', 'summer') == 'off'  %}
            mdi:snowflake
          {% else %}
            mdi:trash-can
          {% endif %}
          
  #Recycle collect day
  - platform: template
    sensors:
      collect_recycle_week:
        entity_id: 
          - sensor.refresh_1m
          - sensor.collect_recycle_week
          - input_select.collect_recycle
          - input_datetime.collect_recycle_start
          - input_datetime.collect_recycle_end
        friendly_name: Recycle Collect
        value_template: >
          {% set collectday = state_attr('input_select.collect_recycle','options').index(states('input_select.collect_recycle'))|int % 5 +1%}
          {% set today = state_attr('sensor.dates', 'weekdaynumber')|int +1 %}
          {% set collectweek = state_attr('input_select.collect_recycle','options').index(states('input_select.collect_recycle'))|int %}
          {% set week = state_attr('sensor.dates', 'weekofyear')|int %2 %}
          {% set time = '14:00' %}
          {% set allweeks = state_attr('sensor.collect_recycle_week','summer') == 'on' %}
          {% set selected = states('input_select.collect_recycle')|replace('Odd/','')|replace('Even/','')|replace('All/','') %}
          {% set now = state_attr('sensor.times', 'short') %}
          
          {% if today >= 7 %}
            {% set today = 0 %}
            {% set week = (week+1)%2 %}
          {% endif %}
          
          {% if collectweek >= 10 %}{% set collectweek = 2 %}{% set allweeks = true %}
          {% elif collectweek >= 5 %}{% set collectweek = 0 %}
          {% else %}{% set collectweek = 1 %}
          {% endif %}
          
          {% if ((today > collectday) or ((today == collectday) and (now >= time))) %}{% set passed = true %}
          {% elif ((today < collectday) or ((today == collectday) and (now < time))) %}{% set passed = false %}
          {% endif %}
          
          {% if collectweek == week or allweeks %}{% set thisweek = true %}
          {% else %}{% set thisweek = false %}
          {% endif %}
          
          {% if thisweek and not passed %}
            {% if today+1 == collectday %}
              Tomorrow
            {% elif today == collectday %}
              Today
            {% elif today < collectday %}
              Next {{ selected }}
            {% endif %}
          {% elif (thisweek and passed and allweeks) or (not thisweek and passed) %}
            Next {{ selected }}
          {% elif thisweek and passed and not allweeks %}
            In 2 {{ selected }}s
          {% elif not thisweek and not passed %}
            {{ selected }} Next Week
          {% else %}
            Error
          {% endif %}
        icon_template: >
          mdi:recycle
        attribute_templates:
          summer: >
            {% set year_start = state_attr('input_datetime.collect_recycle_start', 'year')|int %}
            {% set month_start = state_attr('input_datetime.collect_recycle_start', 'month')|int %}
            {% set day_start = state_attr('input_datetime.collect_recycle_start', 'day')|int %}
            {% set year_end = state_attr('input_datetime.collect_recycle_end', 'year')|int %}
            {% set month_end = state_attr('input_datetime.collect_recycle_end', 'month')|int %}
            {% set day_end = state_attr('input_datetime.collect_recycle_end', 'day')|int %}
            {% set year = state_attr('sensor.dates', 'year')|int %}
            {% set month = state_attr('sensor.dates', 'month')|int %}
            {% set day = state_attr('sensor.dates', 'day')|int %}
            {% set enable = year_start >= year and year_end >= year %}
            
            {% set start = month > month_start or (month == month_start and day >= day_start) %}
            {% set end = month < month_end or (month == month_end and day <= day_end) %}
            
            {% if not enable %}
              disabled
            {% elif start and end %}
              on
            {% else %}
              off
            {% endif %}
          tomorrow: >
            {% set time = '14:00' %}
            {% set now = state_attr('sensor.times', 'short') %}
            
            {% set tomorrow = is_state('sensor.collect_recycle_week', 'Tomorrow') and now > time %}
            {% set today = is_state('sensor.collect_recycle_week', 'Today') and now < time %}

            {% if tomorrow or today %}
              on
            {% else %}
              off
            {% endif %}
          thisweek: >
            {% if ' Next ' in states('sensor.collect_recycle_week') %}
              off
            {% elif 'Next ' in states('sensor.collect_recycle_week') or is_state('sensor.collect_recycle_week', 'Today') or is_state('sensor.collect_recycle_week', 'Tomorrow') %}
              on
            {% else %}
              off
            {% endif %}

      collect_recycle_summer_mode:
        friendly_name: Recycle Summer Mode
        entity_id: 
          - input_select.collect_recycle
          - sensor.collect_recycle_week
        value_template: >
          {% if state_attr('sensor.collect_recycle_week', 'summer') == 'on' %}
            Weekly
          {% elif state_attr('sensor.collect_recycle_week', 'summer') == 'off' %}
            Fortnightly
          {% else %}
            Disabled
          {% endif %}
        icon_template: >
          {% if state_attr('sensor.collect_recycle_week', 'summer') == 'on'  %}
            mdi:tree
          {% elif state_attr('sensor.collect_recycle_week', 'summer') == 'off'  %}
            mdi:snowflake
          {% else %}
            mdi:recycle
          {% endif %}
          