####################################################
# PEOPLE                                           #
####################################################
   
  - platform: template
    sensors:
      distance_jean_cindy:
        friendly_name: Distance between us
        unit_of_measurement: 'km'
        icon_template: >
          mdi:map-marker-distance
        value_template: >
          {% set d = distance('device_tracker.life360_cindy', 'device_tracker.life360_jean')|float %}
          {% if d < 0.1 %}
            {% set d = 0.0|float %}
          {% endif %}
          
          {% if d < 10 %}
            {{ d | round(3) }}
          {% elif d < 100 %}
            {{ d | round(2) }}
          {% elif d < 1000 %}
            {{ d | round(1) }}
          {% else %}
            {{ d | round(0) }}
          {% endif %}
      iphone_de_jean_distance_home:
        friendly_name: Distance from home
        unit_of_measurement: 'km'
        icon_template: >
          mdi:map-marker-distance
        value_template: >
          {% set d = distance('device_tracker.life360_jean')|float %}
          {% if d < 0.1 %}
            {% set d = 0.0|float %}
          {% endif %}
            
          {% if d < 10 %}
            {{ d | round(3) }}
          {% elif d < 100 %}
            {{ d | round(2) }}
          {% elif d < 1000 %}
            {{ d | round(1) }}
          {% else %}
            {{ d | round(0) }}
          {% endif %}
      iphone_de_cindy_distance_home:
        friendly_name: Distance from home
        unit_of_measurement: 'km'
        icon_template: >
          mdi:map-marker-distance
        value_template: >
          {% set d = distance('device_tracker.life360_cindy')|float %}
          {% if d < 0.1 %}
            {% set d = 0.0|float %}
          {% endif %}
            
          {% if d < 10 %}
            {{ d | round(3) }}
          {% elif d < 100 %}
            {{ d | round(2) }}
          {% elif d < 1000 %}
            {{ d | round(1) }}
          {% else %}
            {{ d | round(0) }}
          {% endif %}