###################################################
# AUTOMATIONS - LIGHTS                            #
###################################################
#{"topic": "Home/Milight/Cmd/1", "payload": "{\"sync\": \"ON\"}"}

  - alias: Milight Controller
    trigger:
      - platform: state
        entity_id: input_number.milight_id_sync
    condition:
      - condition: numeric_state
        entity_id: input_number.milight_id_sync
        above: 0
        below: 256
    action:
      - service: mqtt.publish
        data_template:
          topic: "Home/Milight/Cmd/{{states.input_number.milight_id_sync.state}}"
          payload_template: '{"sync":true}'
      - service: input_number.set_value
        data_template:
          entity_id: input_number.milight_id_sync
          value: 0

  - alias: Nixie Clock
    trigger:
      platform: time_pattern
      seconds: '/5'
    action:
      - delay: '00:00:01'
      - entity_id: light.nixie_clock
        service_template: >
          {% set curHour = state_attr('sensor.times', 'hour')|int %}
          {% set presence = is_state('device_tracker.life360_jean', 'home') or is_state('device_tracker.life360_cindy', 'home') %}
          
          {% if curHour >= 7 and curHour < 23 and presence %}
            light.turn_on
          {% else %}
            light.turn_off
          {% endif %}
      - delay: '00:00:01'
      - entity_id: light.nixie_clock_rgb
        service_template: >
          {% set Sun = is_state('sun.sun','below_horizon') %}
          {% set presence = is_state('device_tracker.life360_jean', 'home') or is_state('device_tracker.life360_cindy', 'home') %}
          
          {% if Sun == true and presence %}
            light.turn_on
          {% else %}
            light.turn_off
          {% endif %}