##########################################
# DOMAIN CUSTOMIZATIONS - ALL OTHERS     #
##########################################

  automation:
    templates: &state_color
      icon_color: >
        if (state === 'on') return 'var(--state-icon-active-color)';
        if (state === 'unavailable') return 'var(--state-icon-unavailable-color)';
        return 'var(--state-icon-color)';
    
  binary_sensor:
    hide_attributes:
      - templates
      - icon_color
    templates: *state_color

  input_boolean:
    hide_attributes:
      - templates
      - icon_color
    templates: *state_color
  
  switch:
    hide_attributes:
      - templates
      - icon_color
    templates: *state_color