##########################################
# GLOBAL CUSTOMIZATIONS - ALL OTHERS     #
##########################################

######### SWITCHES #########
        
#   switch.*:
#     #state_color: true
#     hide_attributes:
#       - templates
#       - icon_color
    # templates:
    #   icon_color: >
    #     if (state === 'on') return 'var(--state-icon-active-color)';
    #     if (state === 'unavailable') return 'var(--state-icon-unavailable-color)';
    #     return 'var(--state-icon-color)';
        
  switch.camera_*:
    icon: mdi:camera-wireless
  switch.camera_lamp*:
    icon: mdi:track-light

######### AUTOMATIONS #########

  automation.doorchime_*_trigger:
    friendly_name: Automation
    
  automation.*_filler_control:
    friendly_name: Automation
    
  automation.pond_*_pump_control:
    friendly_name: Automation
    
######### OTHERS #########

  vacuum*.*:
    hide_attributes:
      - templates
      - icon_color
        
  vacuum.roomba_*:
    icon: mdi:robot-vacuum
    templates:
      icon_color: >
        if (state === 'unavailable') return 'var(--state-icon-unavailable-color)';
        if (attributes.bin_full || !attributes.bin_present || attributes.battery_level < 10)
        {
          if (entities['sensor.flashing_1s'].state === 'off') return '#FF0000';
          return 'var(--state-icon-unavailable-color)';
        }
        if (attributes.battery_level < 20)
        {
          if (entities['sensor.flashing_1s'].state === 'off') return '#FFFF00';
          return 'var(--state-icon-unavailable-color)';
        }
        if (state === 'on') return 'var(--state-icon-active-color)';
        return 'var(--state-icon-color)';
